body {
  text-align: center;
  background: var(--primary-color);
  transition: background-color 0.5s;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px 0 0 0;
}

.form-input {
  margin: 20px 0 10px 0;
  width: 50vw;
}

.generate-button {
  width: 7vw;
  margin: 20px 0 10px 1vw;
}

.text {
  border-radius: 4px;
  text-align: left;
  padding: 10px 20px 30px;
  width: 1274px;
}

.content {
  font-size: 15px;
  margin: 10px 0;
}

.top-nav .nav-logo {
  font-size: 19px;
}
.top-nav .nav-link {
  font-size: 16px;
}